<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="push" *ngIf="userIsAuthenticated">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Atul Gupta</ion-list-header>
          <ion-note>atul4a2l@gmail.com</ion-note>
          <ion-note>+91-6263506388</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="log-out-sharp"></ion-icon>
              <ion-label>Log out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
